<nb-card>
  <nb-card-header>
    <a [routerLink]="['/pages/products']" class="text-basic text-decoration-none d-flex align-items-center">
      <nb-icon icon="chevron-left-outline"></nb-icon>
      <ng-container *ngIf="id; else New">Editar</ng-container>
      <ng-template #New>Crear</ng-template>
      producto
    </a>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-12 col-md-3 form-control-box">
          <label for="name">Nombre</label>
          <input type="text" nbInput fullWidth placeholder="Name" formControlName="name" />
        </div>
        <div class="col-12 col-md-3 form-control-box">
          <label for="manufacturerCountry">País de fabricación</label>
          <nb-select fullWidth placeholder="Seleccionar pais" [(selected)]="selectedItem"
            formControlName="manufacturerCountry">
            <nb-option *ngFor="let item of countries" [value]="item.name">{{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-md-6 form-control-box">
          <label for="thumbnail">Imagen</label>
          <input type="text" nbInput fullWidth placeholder="Imagen" formControlName="thumbnail" />
        </div>
        <div class="col-12 col-md-3 form-control-box">
          <label for="price">Precio</label>
          <input type="number" min="0" nbInput fullWidth placeholder="Precio" formControlName="price" />
        </div>
        <div class="col-12 col-md-3 form-control-box">
          <label for="stock">En inventario</label>
          <input type="text" min="0" nbInput fullWidth placeholder="En inventario" formControlName="stock" />
        </div>
        <div class="col-12 col-md-3 form-control-box">
          <label for="manufacturerName">Nombre del fabricante</label>
          <input type="text" nbInput fullWidth placeholder="Nombre del fabricante" formControlName="manufacturerName" />
        </div>
        <div class="col-12 col-md-3 form-control-box">
          <label for="manufacturerEmail">Correo del fabricante</label>
          <input type="text" nbInput fullWidth placeholder="Correo del fabricante"
            formControlName="manufacturerEmail" />
        </div>
        <div class="col-12 col-md-6 form-control-box">
          <label for="features">Características</label>
          <textarea nbInput fullWidth formControlName="features" cols="30" rows="10" class="unresizable"></textarea>
        </div>
        <ng-container *ngIf="form.get('thumbnail').value">
          <div class="col-12 col-md-6 form-control-box">
            <label for="thumbnail">Imagen del producto</label>
            <img class="img-fluid thumbnail" [src]="form.get('thumbnail').value" alt="summary, product, detail">
          </div>
        </ng-container>
        <div class="col-12 mt-3">
          <ul class="list-unstyled d-flex justify-content-between align-items-center">
            <li>
              <button nbButton status="success" type="submit">
                <ng-container *ngIf="id; else Create">Editar</ng-container>
                <ng-template #Create>Crear</ng-template>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
