@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

$pagination-background: white;
$pagination-button-color: var(--primary);

.unresizable {
  resize: none;
}

.ngx-pagination {
  border: 2px solid $pagination-background;
  background-color: $pagination-background;
  padding: 4px 3em;
  border-radius: 0.25rem;

  a,
  button,
  .current {
    padding: 15px 20px !important;
    border-radius: 0.25rem !important;
    margin-left: 0.2em;
  }

  a {
    background-color: $pagination-background;
    text-decoration: none !important;

    &:hover {
      background-color: $pagination-button-color !important;
      color: white !important;
    }
  }

  .current {
    background: $pagination-button-color !important;
    color: #fefefe;
    cursor: default;
    border-radius: 0.25rem;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
  }
}
