<nb-card>
  <nb-card-header>
    <ul class="list-unstyled d-flex justify-content-between align-items-center">
      <li><b>{{ name }}</b></li>
      <li>
        <nb-icon (click)="ref.close(false)" icon="close-outline"></nb-icon>
      </li>
    </ul>
  </nb-card-header>
  <nb-card-body>
    <div class="row align-items-center">
      <ng-container *ngIf="product; else NoProduct">
        <div class="col-12 col-md-3 col-lg-4">
          <ng-container *ngIf="product.thumbnail; else NoPic">
            <img class="img-fluid" [src]="product.thumbnail" [alt]="product.name">
          </ng-container>
          <ng-template #NoPic>
            <img class="img-fluid" src="https://www.hopkinsmedicine.org/-/media/feature/noimageavailable.ashx"
              [alt]="product.name">
          </ng-template>
        </div>
        <div class="col-12 col-md-7 col-lg-8">
          <ng-container *ngIf="product.manufacturerCountry">
            <span>Fabricado en {{ product.manufacturerCountry }}</span>
          </ng-container>
          <h1 class="m-0">{{ product.name }}</h1>
          <h4><b>Price: </b><span>${{ product.price }}</span></h4>
          <h4><b>Stock:</b><span>{{ product.stock }}</span></h4>
          <h4><b>Manufacturer Name:</b><span>{{ product.manufacturerName }}</span></h4>
          <h4><b>Manufacturer Email:</b><span>{{ product.manufacturerEmail }}</span></h4>
          <ng-container *ngIf="product.features">
            <hr>
            <p [innerHTML]="product.features"></p>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #NoProduct>
        <div class="col-12">
          <nb-alert outline="danger">No se encontro el producto.</nb-alert>
        </div>
      </ng-template>
    </div>
  </nb-card-body>
</nb-card>
