nb-card {
  min-width: 50vw;
  max-width: 70vw;
  min-height: 50vh;
}

img {
  margin: 0 auto;
  display: block;
  height: 15rem;
  width: auto;
}

h4 {
  font-size: 1rem;
  line-height: 0.8rem;

  span {
    font-weight: lighter;
    margin-left: 0.3rem;
  }
}
