.product {
    margin: 0;
    padding: 3rem 0;

  img {
    margin: 0 auto;
    display: block;
    height: 15rem;
    width: auto;
  }

  h1 {
    font-size: 1rem;
    text-transform: capitalize;
    line-height: unset;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: lighter;
    font-size: 2rem;

    span {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  .text-danger {
    font-weight: bold;
  }
}
