<figure class="product text-center">
  <ng-container *ngIf="product.thumbnail">
    <img class="img-fluid" [src]="product.thumbnail" [alt]="product.name">
  </ng-container>
  <span class="mt-3 badge">
    <ng-container *ngIf="product.manufacturerCountry; else NoData">Fabricado en {{ product.manufacturerCountry }}
    </ng-container>
    <ng-template #NoData>Fabricante no especificado</ng-template>
  </span>
  <h1 class="m-3">{{ product.name }}</h1>
  <h4>$ <span>{{ product.price }}</span></h4>
  <span class="mt-2 mb-3"
    [ngClass]="{'text-danger': product.stock <= 15, 'text-success': product.stock > 15 }">{{ product.stock }} productos
    en stock</span>
  <ng-container *ngIf="showButtons">
    <ul class="list-unstyled justify-content-center d-flex align-items-center m-0 m-3">
      <li class="m-1">
        <a href="javascript:void(0)" nbButton status="success" (click)="detail(product.id, product.name)">
          <nb-icon icon="eye-outline"></nb-icon>
        </a>
      </li>
      <li class="m-1">
        <a href="javascript:void(0)" nbButton status="warning" [routerLink]="['/pages/summary/' + product.id]">
          <nb-icon icon="edit-outline"></nb-icon>
        </a>
      </li>
      <li class="m-1">
        <a href="javascript:void(0)" nbButton status="danger" (click)="delete(product.id)">
          <nb-icon icon="trash-outline"></nb-icon>
        </a>
      </li>
    </ul>
  </ng-container>
</figure>
