<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled d-flex justify-content-between align-items-center">
          <li>
            <input type="text" nbInput fullWidth status="success" [(ngModel)]="search" (change)="searchEvent()"
              placeholder="Ex: color, precio, etc">
            <a href="javascript:void(0)" nbButton status="primary" class="mt-2" (click)="searchEvent()">Buscar</a>
          </li>
          <li>
            <a href="javascript:void(0)" nbButton status="success" [routerLink]="['/pages/summary']">Crear producto</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="products?.results.length > 0; else NoProducts">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-4">
              <h1 class="m-0">{{ constants.title }}</h1>
            </div>
            <div class="col-12 col-md-8 text-right">
              <div class="row justify-content-end">
                <div class="col-12 col-md-4">
                  <nb-select fullWidth [(selected)]="selectedItem" (selectedChange)="filterChange($event)">
                    <nb-option value="Name">Nombre</nb-option>
                    <nb-option value="Price">Precio</nb-option>
                    <nb-option value="Stock">Stock</nb-option>
                    <nb-option value="ManufacturerCountry">Pais</nb-option>
                  </nb-select>
                </div>
                <div class="col-12 col-md-4 text-left">
                  <nb-select fullWidth [(selected)]="selectedSize" (selectedChange)="pageSizeChange($event)">
                    <nb-option value="4">4</nb-option>
                    <nb-option value="8">8</nb-option>
                    <nb-option value="12">12</nb-option>
                    <nb-option [value]="products.rowCount">Todos</nb-option>
                  </nb-select>
                  <nb-checkbox class="d-block mt-2" [(ngModel)]="filterParams.Ascending" (checkedChange)="asc($event)">
                    Ascendente
                  </nb-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let product of products?.results | paginate: {
          itemsPerPage: products?.pageSize,
          currentPage: products?.currentPage,
          totalItems: products?.rowCount
          }" class="col-12 col-md-3 col-lg-3">
          <ngx-product [product]="product" [showButtons]="showButtons" (refreshEvent)="refresh($event)"
            (deleteEvent)="delete($event)"></ngx-product>
        </div>
        <ng-container *ngIf="this.products.rowCount > this.products.results.length">
          <div class="col-12">
            <pagination-controls (pageChange)="getPage($event)" directionLinks="true" autoHide="false" responsive="true"
              screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #NoProducts>
        <div class="col-12">
          <nb-alert outline="danger">No hay productos</nb-alert>
        </div>
      </ng-template>
    </div>
  </nb-card-body>
</nb-card>
